<!doctype html>
<html lang="en">
<meta charset="utf-8">
<style type="text/css">
	* {font-family:arial, sans-serif;}
	img {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
</style>
<head>
	<title>404</title>
	<link rel="icon" href="http://www.societyofrobots.com/images/programming_vision_mona_lisa.jpg">
</head>
<body>
	<h1 align="center">nothin to see here</h1>
	{{{body}}}
</body>
</html>