<!doctype html>
<html lang="en">
<meta charset="utf-8">
<style type="text/css">* {font-family:arial, sans-serif;}</style>
<head>
	<title>the dark truth is that I have html listed as a skill on my resume</title>
	<link rel="icon" href="http://www.societyofrobots.com/images/programming_vision_mona_lisa.jpg">
</head>
<body>
	<h1>"hey anna did you read the article I sent you"</h1>
	<h3>Hope you're not bored of this yet :)</h3>
	{{{body}}}
</body>
</html>