<div>
<h2>THE ULTIMATE HALL OF FAME</h2>
<p>
{{#each stickers_by_count}}
	<img src="{{this.url}}" title="count: {{this.count}}" height="240" width="240"">
{{/each}}
</p>
<br>
<p>
<h3>And give it up for our boys in blue <3</h3>
{{#each stickers_by_time}}
	<img src="{{this.url}}" title="count: {{this.count}}" height="240" width="240"">
{{/each}}
</p>
</div>